main.acesso{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10%;

    section.acesso{
        width: 80%;
        max-width: 400px;
        flex-direction: column;
        justify-content: space-around;
        input{
            width: 100%;
            margin: 1rem 0 ;
            border-radius: 12px;
            border: 1px solid;
            background-color: transparent;
            line-height: 1.5rem;
        }:focus{
            border: 1px solid;
            outline:0;
            box-shadow: 1px 1px 1px 0px;
        }
        p, label, button{
            margin: 1rem 0 ;
        }
        button{
            padding: 1.2em 2em;
            border-radius: 12px;
            transform: scale(1.05);
        }:hover{
            cursor: pointer;
        }
    }
    img{
        width: 50%;
        max-width: 500px;
    }
}

@media (min-width:780px){
    main.acesso{
        flex-direction:row;
    }
}