html{
    font-size: 16px;
}
header{
    h1{
        display: none;
    }
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            text-align: center;
        }
        p{
            max-width: 920px;
        }
    }
    section.container{    
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            article{
                width: 15rem;
                border: 1px solid;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2rem;
                filter: grayscale(100%);
                img{
                    border-radius: 15px 15px 0px 0px;
                    border: 1px solid;
                    width: 100%; 
                }
                
            }
        }
    }




/* Conteúdos de todas as páginas*/
div.button-back{
    position: absolute;
    left: 1.2em;
    top: 10em;
    border: 1px solid;
    width: 2em;
    height: 2em;
    border-radius: 20px;
    img.arrow-back{
        width: 2em;
        transform:rotate(180deg);
    }
}
iframe{
    border-radius: 15px;
}
a.button-acesso-notion{

}