a.pc{
    text-decoration: dashed;
    font-weight: 800;
}:visited{
    text-decoration: dotted;
}

/*Página Interface*/

section.short-intro{
    flex-direction: row-reverse;
    p{
        width: 80%;
        margin: 5%;
    }
}