$black1: #202020;
$black2: #3e3e3e;
$black3: #5d5d5d;
$black4: #969695;

$blue1:#2d3945;
$blue2:#475866;
$blue3:#5d707e;
$blue4:#bbc1cc;

body{
  background-color: $black1;
}

header{
    background-color: $black1;
    border-bottom: 2px $black2 solid;
    h1{
      color: $black4;  

    }
    a{
      color: $black4;  
    }
}
section{
  color: $black4;
  section{
    article{
      border-color: $black4;
      img{
        border-color: $black4;
      }
    }
  }
}
article:hover{
  h2{
    color: $blue4;
  }
}
footer{
  color:$black4;
}