
@font-face {
    font-family: "Acumin";
    font-weight: 400;
    src: url("../../fonts/Acumin-RPro.woff") format('woff');
    font-style: normal;
    font-weight:normal;
}

$thin:'Acumin';

header{
    h1{
        font-family:'Acumin';
    }

    nav{
        a{
            font-family:$thin;
        }
    }
}
section{
    p{
        text-align: justify;
    }
}
footer{
        font-family:$thin;
        font-weight:lighter;
        font-size: 1em;
}