/*Reset*/
body {
  margin: 0;
  padding: 0;
}

/*Colors*/
body {
  background-color: #202020;
}

header {
  background-color: #202020;
  border-bottom: 2px #3e3e3e solid;
}
header h1 {
  color: #969695;
}
header a {
  color: #969695;
}

section {
  color: #969695;
}
section section article {
  border-color: #969695;
}
section section article img {
  border-color: #969695;
}

input {
  border-color: #969695;
  color: #969695;
}

button {
  border-color: #969695;
  background-color: #202020;
  color: #969695;
}

button:hover {
  background-color: #5d5d5d;
  color: #202020;
}

article:hover h2 {
  color: #bbc1cc;
}

a:visited {
  color: #969695;
}

body main.acesso div.button-back {
  border-color: #969695;
}

footer {
  background-color: #202020;
  border-top: 2px #3e3e3e solid;
  color: #969695;
}

/*Typography*/
@font-face {
  font-family: "Acumin";
  font-weight: 400;
  src: url("../../fonts/Acumin-RPro.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
header h1 {
  font-family: "Acumin";
}
header nav a {
  font-family: "Acumin";
}

input {
  font-family: "Acumin";
}

button {
  font-family: "Acumin";
  font-weight: 800;
}

section p {
  text-align: justify;
}

footer {
  font-family: "Acumin";
  font-weight: lighter;
  font-size: 1em;
}

h2.titulo-cc {
  font-family: "Acumin";
  font-weight: bold;
  font-size: 1em;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
header img {
  width: 5rem;
}

/*Footer*/
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}

footer {
  padding: 18px;
}
footer p {
  text-align: center;
}

/*Home*/
html {
  font-size: 16px;
}

header h1 {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section p {
  max-width: 920px;
}
main section.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main section.container article {
  width: 15rem;
  border: 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  filter: grayscale(100%);
}
main section.container article img {
  border-radius: 15px 15px 0px 0px;
  border: 1px solid;
  width: 100%;
}

section.container article:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: ease-in-out;
  filter: grayscale(0%);
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@media (min-width: 650px) {
  html {
    font-size: 18px;
  }
  header h1 {
    display: block;
  }
}
/*novotec*/
h2.titulo-cc {
  text-align: center;
}

/*powerPoint*/
/*acesso*/
main.acesso {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
main.acesso div.button-back {
  position: absolute;
  left: 1.2em;
  top: 10em;
  border: 1px solid;
  width: 2em;
  height: 2em;
  border-radius: 20px;
}
main.acesso div.button-back img.arrow-back {
  width: 2em;
  transform: rotate(180deg);
}
main.acesso section.acesso {
  width: 80%;
  max-width: 400px;
  flex-direction: column;
  justify-content: space-around;
}
main.acesso section.acesso input {
  width: 100%;
  margin: 1rem 0;
  border-radius: 12px;
  border: 1px solid;
  background-color: transparent;
  line-height: 1.5rem;
}
main.acesso section.acesso :focus {
  border: 1px solid;
  outline: 0;
  box-shadow: 1px 1px 1px 0px;
}
main.acesso section.acesso p, main.acesso section.acesso label, main.acesso section.acesso button {
  margin: 1rem 0;
}
main.acesso section.acesso button {
  padding: 1.2em 2em;
  border-radius: 12px;
  transform: scale(1.05);
}
main.acesso section.acesso :hover {
  cursor: pointer;
}
main.acesso img {
  width: 50%;
  max-width: 500px;
}

@media (min-width: 780px) {
  main.acesso {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
